<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
  <php>
    <env name="WP_CORE_DIR" value="C:\Users\Lalo\Local Sites\wp-flashnotes\app\public"/>
  </php>
  <testsuites>
    <testsuite name="WPFlashNotes">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
